:root {
  /* Font weights (source: https://learn.microsoft.com/en-us/typography/opentype/spec/os2#usweightclass) */
  --font-weight-light: 100; /* Thin */
  --font-weight-normal: 400; /* Regular */
  --font-weight-medium: 500; /* Medium */
  --font-weight-semi-bold: 600; /* Semi-Bold */
  --font-weight-black: 900; /* Black */
}
@font-face {
  font-family: 'Antic Didone';
  src: url('@/assets/fonts/AnticDidone-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-normal);
}
@font-face {
  font-family: 'Cormorant Infant';
  src: url('@/assets/fonts/CormorantInfant-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: var(--font-weight-normal);
}
@font-face {
  font-family: 'Cormorant Infant';
  src: url('@/assets/fonts/CormorantInfant-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-medium);
}
@font-face {
  font-family: 'Cormorant Infant';
  src: url('@/assets/fonts/CormorantInfant-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-normal);
}
@font-face {
  font-family: 'Le Murmure';
  src: url('@/assets/fonts/le-murmure.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-normal);
}
@font-face {
  font-family: 'Minion Pro';
  src: url('@/assets/fonts/MinionPro-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: var(--font-weight-normal);
}
@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-black);
}
@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-medium);
}
@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-semi-bold);
}
@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-light);
}
@font-face {
  font-family: 'Reem Kufi';
  src: url('@/assets/fonts/ReemKufi-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-normal);
}
:root {
  /* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --font-size--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --font-size--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --font-size-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --font-size-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --font-size-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --font-size-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --font-size-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --font-size-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
  font-size: var(--font-size-0);

  --font-family-antic-didone: 'Antic Didone';
  --font-family-cormorant-infant: 'Cormorant Infant';
  --font-family-le-murmure: 'Le Murmure';
  --font-family-minion-pro: 'Minion Pro';
  --font-family-montserrat: 'Montserrat';
  --font-family-reem-kufi: 'Reem Kufi';

  --padding-x: 8rem;
  --half-padding-x: calc(var(--padding-x) / 2);
  --quarter-padding-x: calc(var(--padding-x) / 4);
  --navbar-height: 6rem;
  --section-row-gap: 20vh;
  --article-row-gap: 20vh;

  /* Nelly's color palette */
  --color-hex-black: #231f20;
  --color-hex-grey: #ebebeb;
  --color-hex-salmon: #fbbb96;
  --color-hex-salmon-dark: #f19d72;
  --color-hex-orange: #ef6146;
  --color-hex-violet: #cfb4dd;
  --color-hex-violet2: #c2aad0;
  --color-hex-beige: #d7cec7;
  --color-hex-beige2: #ffeede;
  --color-hex-beige-light: #fff3e5;
}
@media (orientation: portrait) {
  :root {
    /* font-size: 2vh; */
    --padding-x: 2rem;
    --section-row-gap: 10vh;
    --article-row-gap: 5vh;
  }
}
