:root {
  /* Font weights (source: https://learn.microsoft.com/en-us/typography/opentype/spec/os2#usweightclass) */
  --font-weight-light: 100; /* Thin */
  --font-weight-normal: 400; /* Regular */
  --font-weight-medium: 500; /* Medium */
  --font-weight-semi-bold: 600; /* Semi-Bold */
  --font-weight-black: 900; /* Black */
}
@font-face {
  font-family: 'Antic Didone';
  src: url('@/assets/fonts/AnticDidone-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-normal);
}
@font-face {
  font-family: 'Cormorant Infant';
  src: url('@/assets/fonts/CormorantInfant-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: var(--font-weight-normal);
}
@font-face {
  font-family: 'Cormorant Infant';
  src: url('@/assets/fonts/CormorantInfant-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-medium);
}
@font-face {
  font-family: 'Cormorant Infant';
  src: url('@/assets/fonts/CormorantInfant-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-normal);
}
@font-face {
  font-family: 'Le Murmure';
  src: url('@/assets/fonts/le-murmure.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-normal);
}
@font-face {
  font-family: 'Minion Pro';
  src: url('@/assets/fonts/MinionPro-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: var(--font-weight-normal);
}
@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-black);
}
@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-medium);
}
@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-semi-bold);
}
@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-light);
}
@font-face {
  font-family: 'Reem Kufi';
  src: url('@/assets/fonts/ReemKufi-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-normal);
}
:root {
  /* @link https://utopia.fyi/type/calculator?c=360,21.1459,1.2,1920,30,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --font-size--2: clamp(0.9178rem, 0.8527rem + 0.2894vw, 1.2rem);
  --font-size--1: clamp(1.1013rem, 1.0094rem + 0.4089vw, 1.5rem);
  --font-size-0: clamp(1.3216rem, 1.1939rem + 0.5676vw, 1.875rem);
  --font-size-1: clamp(1.5859rem, 1.4111rem + 0.7772vw, 2.3438rem);
  --font-size-2: clamp(1.9031rem, 1.6662rem + 1.0529vw, 2.9297rem);
  --font-size-3: clamp(2.2838rem, 1.9657rem + 1.4137vw, 3.6621rem);
  --font-size-4: clamp(2.7405rem, 2.3166rem + 1.8842vw, 4.5776rem);
  --font-size-5: clamp(3.2886rem, 2.727rem + 2.4958vw, 5.722rem);

  --font-family-antic-didone: 'Antic Didone';
  --font-family-cormorant-infant: 'Cormorant Infant';
  --font-family-le-murmure: 'Le Murmure';
  --font-family-minion-pro: 'Minion Pro';
  --font-family-montserrat: 'Montserrat';
  --font-family-reem-kufi: 'Reem Kufi';

  --padding-x: 8rem;
  --half-padding-x: calc(var(--padding-x) / 2);
  --quarter-padding-x: calc(var(--padding-x) / 4);
  --navbar-height: 6rem;
  --section-row-gap: 20vh;
  --article-row-gap: 20vh;

  /* Nelly's color palette */
  --color-hex-black: #231f20;
  --color-hex-grey: #ebebeb;
  --color-hex-salmon: #fbbb96;
  --color-hex-salmon-dark: #f19d72;
  --color-hex-orange: #ef6146;
  --color-hex-violet: #cfb4dd;
  --color-hex-violet2: #c2aad0;
  --color-hex-beige: #d7cec7;
  --color-hex-beige2: #ffeede;
  --color-hex-beige-light: #fff3e5;
}
@media (max-aspect-ratio: 5/4) {
  :root {
    /* font-size: 2vh; */
    --padding-x: 2rem;
    --section-row-gap: 10vh;
    --article-row-gap: 5vh;
  }
}
