:root {
  /* Font weights (source: https://learn.microsoft.com/en-us/typography/opentype/spec/os2#usweightclass) */
  --font-weight-light: 100; /* Thin */
  --font-weight-normal: 400; /* Regular */
  --font-weight-medium: 500; /* Medium */
  --font-weight-semi-bold: 600; /* Semi-Bold */
  --font-weight-black: 900; /* Black */
}
@font-face {
  font-family: 'Adobe Song Std';
  src: url('@/assets/fonts/AdobeSongStd-Light.otf') format('opentype');
  font-style: normal;
  font-weight: var(--font-weight-light);
}
@font-face {
  font-family: 'Cormorant Infant';
  src: url('@/assets/fonts/CormorantInfant-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: var(--font-weight-normal);
}
@font-face {
  font-family: 'Cormorant Infant';
  src: url('@/assets/fonts/CormorantInfant-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-medium);
}
@font-face {
  font-family: 'Cormorant Infant';
  src: url('@/assets/fonts/CormorantInfant-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-normal);
}
@font-face {
  font-family: 'Le Murmure';
  src: url('@/assets/fonts/le-murmure.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-normal);
}
@font-face {
  font-family: 'Minion Pro';
  src: url('@/assets/fonts/MinionPro-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: var(--font-weight-normal);
}
@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-black);
}
@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-medium);
}
@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-semi-bold);
}
@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-light);
}
@font-face {
  font-family: 'Reem Kufi';
  src: url('@/assets/fonts/ReemKufi-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: var(--font-weight-normal);
}
:root {
  --font-family-adobe-song: 'Adobe Song Std';
  --font-family-cormorant-infant: 'Cormorant Infant';
  --font-family-le-murmure: 'Le Murmure';
  --font-family-minion-pro: 'Minion Pro';
  --font-family-montserrat: 'Montserrat';
  --font-family-reem-kufi: 'Reem Kufi';

  /* Nelly's color palette */
  --color-hex-black: #231f20;
  --color-hex-grey: #ebebeb;
  --color-hex-salmon: #fbbb96;
  --color-hex-salmon-dark: #f19d72;
  --color-hex-orange: #ef6146;
  --color-hex-violet: #cfb4dd;
  --color-hex-violet2: #c2aad0;
  --color-hex-beige: #d7cec7;
  --color-hex-beige2: #ffeede;
  --color-hex-beige-light: #fff3e5;
}
