@import './base.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  /* Fonts */
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-light);
  line-height: 1.6;
  text-rendering: geometricPrecision;
  color: var(--color-hex-black);
  min-height: 100vh;
  background-color: var(--color-hex-white);
  text-align: justify;
}
.line-break {
  white-space: pre-line;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.d-flex {
  display: flex;
}
.text-indent {
  text-indent: 2em;
}
.obj-pos-top {
  object-position: top;
}
.obj-pos-bottom {
  object-position: bottom;
}
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
