@import './base.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
:root {
  font-size: 1vw;
  --padding-x: 8rem;
  --half-padding-x: calc(var(--padding-x) / 2);
}
@media (orientation: portrait) {
  :root {
    font-size: 1.5vh;
    --padding-x: 2rem;
  }
}
body {
  /* Fonts */
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-light);
  line-height: 1.6;
  text-rendering: geometricPrecision;
  color: var(--color-hex-black);
  min-height: 100vh;
  background-color: var(--color-hex-white);
  text-align: justify;
}
.line-break {
  white-space: pre-line;
}
.text-body {
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-light);
  font-size: 1.083rem;
  color: var(--color-hex-black);
}
.text-body-bold {
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-semi-bold);
  font-size: 1.175rem;
  color: var(--color-hex-black);
}
.text-header-outlined {
  font-family: var(--font-family-adobe-song);
  font-weight: var(--font-weight-light);
  font-size: 1.783rem;
  color: var(--color-hex-black-orange);
  border-radius: 25px;
}
.asterisk {
  font-family: var(--font-family-asterisk);
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.comments {
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-light);
  font-style: italic;
  font-size: 0.817rem;
  text-align: center;
}
.d-flex {
  display: flex;
}
.text-indent {
  text-indent: 2em;
}
.d-none-portrait {
  display: flex !important;
}
.d-none-landscape {
  display: none !important;
}
@media (orientation: portrait) {
  .d-none-portrait {
    display: none !important;
  }
  .d-none-landscape {
    display: flex !important;
  }
}
