@import './base.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* Fonts */
  font-family: var(--font-family-montserrat);
  font-style: normal;
  font-weight: var(--font-weight-light);
  font-size: 13pt;
  line-height: 1.6;
  text-rendering: geometricPrecision;
  color: var(--color-hex-text);
  min-height: 100vh;
}

.text-body {
  font-family: var(--font-family-montserrat);
  font-style: normal;
  font-weight: var(--font-weight-light);
  font-size: 13pt;
  color: var(--color-hex-text);
}

.text-body-bold {
  font-family: var(--font-family-montserrat);
  font-style: normal;
  font-weight: var(--font-weight-semi-bold);
  font-size: 14.1pt;
  color: var(--color-hex-text);
}

.text-header-outlined {
  font-family: var(--font-family-adobe-song);
  font-style: normal;
  font-weight: var(--font-weight-light);
  font-size: 21.4pt;
  color: var(--color-hex-text-orange);
  border-radius: 25px;
}

.asterisk {
  font-family: var(--font-family-asterisk);
}

.section-title {
  font-family: var(--font-family-section-title);
}

.section-title {
  font-family: var(--font-family-section-title);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-adobe-song);
}
