section {
  position: sticky;
  top: 0;
  background-color: white;
  line-height: 2;
  padding: 10vw; /* (viewport width - folder-image-container width) / 2 */
}
article h2 {
  font-size: 5.583em;
  line-height: 1;
}
article {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}
img {
  width: 100%;
  object-fit: cover;
}
.comments {
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-light);
  font-style: italic;
  font-size: 0.817rem;
  text-align: center;
}
.first-paragraph {
  text-indent: 2em;
}
@media (min-width: 1200px) {
  .articles {
    padding: 10vw 25vw;
  }
  .articles h2 {
    font-size: 4em;
  }
}
